<form method="POST" action="/api/sessions/login">
    <label for="email">Ingrese email</label>
    <input type="email" name="email" required>
    <label for="password">Ingrese la clave o password</label>
    <input type="password" name="password" required>
    <button type="submit">Login</button>
</form>

<a href="/register">Registrarse aqui</a>